*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 650px;
}

.container h2{
    font-size: 4rem;
}

.profession{
    color: rgb(247, 25, 25);
    display: inline-flex;
    align-items: center;   
}

.profession::after{
    content: '';
    display: inline-block;
    width: 3px;
    height: 58px;
    margin-left: 8px;
    background-color: brown;
}